services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - python
      - run.py
    container_name: todo-app
    depends_on:
      - auth
      - users
      - todos
      - log-processor
      - frontend
    environment:
      AUTH_SERVICE: auth:5001
      USERS_SERVICE: users:5002
      TODOS_SERVICE: todos:5003
      LOG_PROCESSOR_SERVICE: log-processor:5004
      FRONTEND_SERVICE: frontend:80

    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    networks:
      - todo-net

  auth:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - python
      - services/auth.py
    container_name: todo-auth
    environment:
      PORT: "5001"
      AUTH_SECRET_KEY: ${AUTH_SECRET_KEY}
    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    ports:
      - "5001:5001"
    networks:
      - todo-net

  users:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - python
      - services/users.py
    container_name: todo-users
    environment:
      PORT: "5002"

    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    ports:
      - "5002:5002"
    networks:
      - todo-net

  todos:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - python
      - services/todo.py
    container_name: todo-todos
    environment:
      PORT: "5003"

    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    ports:
      - "5003:5003"
    networks:
      - todo-net

  log-processor:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - python
      - services/log_processor.py
    container_name: todo-log-processor
    environment:
      PORT: "5004"

    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    ports:
      - "5004:5004"
    networks:
      - todo-net

  frontend:
    image: nginx:alpine
    container_name: todo-frontend

    cap_drop:
      - ALL
    read_only: true
    security_opt:
      - no-new-privileges:true

    ports:
      - "5000:80"
    networks:
      - todo-net

networks:
  todo-net:
    driver: bridge
